In [1]:
import sqlite3
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../data/unified_data.csv')

In [3]:
df.head()

,ownerSex,ownerBirthday,ownerCardType,frequency,accountCreationDate,isShared,balance,loanDate,loanDuration,loanPayments,...,cashWithdrawalCount,withdrawalAnyMethodCount,maxWithdrawal,maxCredit,maxTransactionAmountDistance,sumSanctionInterest,avgSanctionInterest,hasStableIncome,status,transactionAmountIQR
0,0,470722,NaN,weekly issuance,930322,0,20100.0,930705,12,8033,...,0,0,4,0.0,72021.5,0.0,0.0,0,1,4075.00
1,1,680722,NaN,monthly issuance,930213,0,52208.9,930711,36,4610,...,2,20,17,0.0,72021.5,0.0,0.0,0,0,27791.60
2,1,360602,NaN,monthly issuance,930208,0,20272.8,930728,60,2118,...,0,9,15,0.0,72021.5,0.0,0.0,1,0,12613.65
3,0,400420,NaN,monthly issuance,930130,0,34307.3,930803,36,2939,...,0,12,13,0.0,72021.5,0.0,0.0,1,0,17453.90
4,1,780907,NaN,weekly issuance,930214,0,41142.9,930906,60,4579,...,0,14,13,0.0,72021.5,0.0,0.0,1,0,42035.70

In [4]:
df.columns

Index(['ownerSex', 'ownerBirthday', 'ownerCardType', 'frequency',
       'accountCreationDate', 'isShared', 'balance', 'loanDate',
       'loanDuration', 'loanPayments', 'loanAmount', 'ratio', 'districtName',
       'region', 'nInhabitants', 'nMunicipalitiesSub499Inhabitants',
       'nMunicipalities500to1999Inhabitants',
       'nMunicipalities2000to9999Inhabitants',
       'nMunicipalitiesOver10000Inhabitants', 'nCities',
       'urbanInhabitantsRatio', 'averageSalary', 'unemploymentRate95',
       'unemploymentRate96', 'nEnterpreneursPer1000Inhabitants',
       'commitedCrimes95', 'commitedCrimes96', 'medianAmount',
       'sumAllTransactions', 'insurancePaymentsCount',
       'insurancePaymentsAverage', 'timesIntoNegativeBalance',
       'numTransactions', 'numTransactionsNegBalance',
       'numExternalBankTransactions', 'withdrawalCount', 'cashWithdrawalCount',
       'withdrawalAnyMethodCount', 'maxWithdrawal', 'maxCredit',
       'maxTransactionAmountDistance', 'sumSanctionInterest',
       'avgSanctionInterest', 'hasStableIncome', 'status',
       'transactionAmountIQR'],
      dtype='object')

In [ ]:
df = df[['balance', 'loanPayments', 'sumAllTransactions',
       'timesIntoNegativeBalance', 'numTransactionsNegBalance',
       'numExternalBankTransactions', 'withdrawalCount',
       'transactionAmountIQR', 'status']]
sns.pairplot(data=df, hue='status')

In [ ]:
sns.displot(df, x='sumAllTransactions', hue='status', kde=True)

In [ ]:
sns.displot(df, x='balance', hue='status', kde=True)

In [ ]:
sns.displot(df, x='numExternalBankTransactions', hue='status', kde=True)