In [1]:
import pandas as pd
import sqlite3
from sklearn.preprocessing import LabelEncoder, StandardScaler
from joblib import load

In [2]:
con = sqlite3.connect('data/database.db')

df = pd.read_sql_query(' \
    SELECT loanDev_view.id as loanId, account_view.id as accountId, ownerSex, ownerBirthday, ownerCardType, frequency, account_view.date AS accountCreationDate, isShared, balance, loanDev_view.date AS loanDate, duration as loanDuration, payments as loanPayments, amount as loanAmount, ratio, districtName, region, nInhabitants, nMunicipalitiesSub499Inhabitants, nMunicipalities500to1999Inhabitants, nMunicipalities2000to9999Inhabitants, nMunicipalitiesOver10000Inhabitants, nCities, urbanInhabitantsRatio, averageSalary, unemploymentRate95, unemploymentRate96, nEnterpreneursPer1000Inhabitants, commitedCrimes95, commitedCrimes96, \
    medianAmount, \
    sumAllTransactions, \
    insurancePaymentsCount, \
    insurancePaymentsAverage, \
    timesIntoNegativeBalance, \
    numTransactions, \
    numTransactionsNegBalance, \
    numExternalBankTransactions, \
    withdrawalCount, \
    cashWithdrawalCount,  \
    withdrawalAnyMethodCount,  \
    creditCount \
    maxWithdrawal, \
    maxCredit, \
    maxTransactionAmountDistance, \
    sumSanctionInterest, \
    avgSanctionInterest,  \
    hasStableIncome,    \
    status \
    FROM loanDev_view \
    JOIN account_view ON account_view.id = loanDev_view.accountId \
    JOIN owners_sex_birthday_view ON owners_sex_birthday_view.accountId = account_view.id \
    LEFT OUTER JOIN owners_card_type ON owners_card_type.accountId = account_view.id \
    JOIN district_view ON district_view.id = account_view.districtId;'
, con)

trans_df = pd.read_sql_query("SELECT * FROM ( \
    select id, accountId, amount as credit, null as withdrawal from transDev where type='credit' \
    UNION \
    select id, accountId, null as credit, amount as withdrawal from transDev where type='withdrawal' or type='withdrawal in cash' \
    );"
, con)

trans_df['amount'] = trans_df['credit'] if trans_df['withdrawal'].isna else -trans_df['withdrawal']

trans_df = trans_df.groupby(['accountId']).apply(lambda x: x.quantile(0.75) - x.quantile(0.25)).drop('accountId', axis=1)
trans_df = df.join(trans_df, on='accountId')
df['transactionAmountIQR'] = trans_df['amount']
df['transactionAmountIQR'] =df['transactionAmountIQR'].fillna(df['transactionAmountIQR'].mean())
df['maxTransactionAmountDistance'] = df['maxTransactionAmountDistance'].fillna(df['maxTransactionAmountDistance'].mean())

df = df.drop('accountId', axis=1)
df.to_csv('data/unified_data.csv', index=False)
df.head()

,loanId,ownerSex,ownerBirthday,ownerCardType,frequency,accountCreationDate,isShared,balance,loanDate,loanDuration,...,cashWithdrawalCount,withdrawalAnyMethodCount,maxWithdrawal,maxCredit,maxTransactionAmountDistance,sumSanctionInterest,avgSanctionInterest,hasStableIncome,status,transactionAmountIQR
0,5895,1,620601,None,monthly issuance,951009,0,49548.5,970103,60,...,0,59,30,0.0,77973.136364,0.0,0.0,0,0,24192.175
1,7122,0,490121,None,monthly issuance,950902,0,11565.4,970104,36,...,1,49,29,0.0,77973.136364,4.6,4.6,0,0,12763.400
2,6173,0,390427,None,issuance after transaction,950419,0,45754.0,970108,48,...,7,133,43,0.0,77973.136364,0.0,0.0,1,0,28871.000
3,6142,0,430929,None,monthly issuance,960316,1,38913.4,970121,60,...,5,50,21,0.0,77973.136364,0.0,0.0,1,0,22014.200
4,5358,1,391206,None,monthly issuance,950604,0,16514.3,970121,12,...,0,62,52,36463.5,70063.500000,0.0,0.0,0,0,4580.000

In [3]:
cc95 = pd.to_numeric(df['commitedCrimes95'], errors='coerce')
diff = df['commitedCrimes96'] - cc95
averageDiff = diff.mean()
cc95[cc95.isna()] = df['commitedCrimes96'][cc95.isna()] - averageDiff
df['commitedCrimes95'] = cc95.astype(int)

ur95 = pd.to_numeric(df['unemploymentRate95'], errors='coerce')
diff = df['unemploymentRate96'] - ur95
averageDiff = diff.mean()
ur95[ur95.isna()] = df['unemploymentRate96'][ur95.isna()] - averageDiff
df['unemploymentRate95'] = ur95

df['hasCard'] = df['ownerCardType'].apply(lambda x: False if pd.isna(x) else True)
df = df.drop('ownerCardType', axis=1)

df.to_csv('data/clean_data1.csv', index=False)

In [4]:
def convert_to_unix_timestamp(df, attribute):
    df[attribute] = df[attribute].apply(lambda x: "19" + str(x))
    df[attribute] = pd.to_datetime(df[attribute], format="%Y%m%d").map(pd.Timestamp.timestamp)
    return df

df = pd.read_csv('data/clean_data1.csv')

for attribute in ['ownerBirthday', 'accountCreationDate', 'loanDate']:
    df = convert_to_unix_timestamp(df, attribute)

df = pd.get_dummies(df, columns=['frequency', 'region'], drop_first=True)

df["districtName"] = LabelEncoder().fit_transform(df["districtName"])

# Roughly scale dataset
scaler = load('scaler.joblib')
scaled_df = df.drop('loanId', axis=1)
scaled_df = pd.DataFrame(data=scaler.transform(scaled_df), columns=scaled_df.columns)
scaled_df['status'] = df['status']
scaled_df['loanId'] = df['loanId']

scaled_df.to_csv('data/prepared_data.csv', index=False)
df = scaled_df

In [5]:
ids, df = df['loanId'], df[['isShared', 'balance', 'loanPayments', 'sumAllTransactions',   
       'timesIntoNegativeBalance', 'numTransactionsNegBalance',
       'numExternalBankTransactions', 'withdrawalCount', 'hasStableIncome',
       'transactionAmountIQR']]

In [6]:
df.head()

,isShared,balance,loanPayments,sumAllTransactions,timesIntoNegativeBalance,numTransactionsNegBalance,numExternalBankTransactions,withdrawalCount,hasStableIncome,transactionAmountIQR
0,-0.544466,0.376974,-1.180187,0.403215,-0.177159,-0.169790,0.414629,0.577982,-0.633805,0.189144
1,-0.544466,-1.412001,1.410356,-1.426140,2.349284,4.198136,0.678703,0.207054,-0.633805,-0.893934
2,-0.544466,0.198256,0.316886,0.220453,-0.177159,-0.169790,4.507777,2.837274,1.577771,0.632545
3,1.836664,-0.123931,-0.206793,-0.108998,-0.177159,-0.169790,1.404906,0.105891,1.577771,-0.017258
4,-0.544466,-1.178911,-0.429596,-1.309163,-0.177159,-0.169790,0.216573,0.679145,-0.633805,-1.669455

In [7]:
model = load('data/model.joblib')

In [8]:
binary_predictions = model.predict(df)
print(binary_predictions)
predictions = model.predict_proba(df)
print(predictions[:,1])

[0 1 0 0 0 0 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0
 0 0 1 0 0 0 1 0 0 0 0 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1
 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 1 0 0 0 0 1 0 0 0 0 1 0 1 0 0 0
 0 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0
 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 0 0 1 0 1 0 0 0 0 0 0 1 0 0 0
 0 0 0 0 1 1 1 0 1 1 0 1 0 0 0 1 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0
 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 1 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0]
[0.   1.   0.   0.01 0.34 0.   0.26 0.08 0.19 0.33 0.54 0.46 0.78 0.94
 0.77 0.19 0.32 0.39 0.03 0.05 0.22 0.38 0.94 0.28 0.08 0.27 0.25 0.71
 0.09 0.09 0.02 0.17 0.07 0.01 0.13 0.02 0.4  0.09 0.46 0.6  0.22 0.24
 0.04 0.51 0.08 0.04 0.11 0.   0.08 0.2  1.   0.25 0.86 0.33 0.03 0.03
 0.02 0.58 0.45 0.02 0.02 0.23 0.03 0.2  0.03 0.32 0.2  0.05 0.72 0.11
 0.33 0.05 0.22 0.82 0.98 0.03 0.21 0.51 0.07 0.15 0.33 0.19 0.01 0.1
 0.15 0.37 0.11 0.49 0.02 0.42 0.69 0.15 0.99 0.05 0.48 0.87 0.05 0.3
 0.   0.36 0.54 0.21 0.19 0.21 0.01 0.69 0.07 0.96 0.04 0.07 0.09 0.01
 0.99 0.07 0.03 0.35 0.02 0.09 0.13 0.4  0.17 0.18 0.77 0.13 0.92 0.12
 0.21 0.01 0.45 0.14 0.9  0.3  0.2  0.18 0.39 0.05 0.15 0.22 0.15 0.39
 0.52 0.04 0.03 0.79 0.05 0.17 0.56 0.2  0.06 0.06 0.   0.37 0.2  0.15
 0.66 0.09 0.01 0.25 0.06 0.22 0.06 0.03 0.12 0.93 0.08 0.35 0.9  0.01
 0.93 0.29 0.   0.33 0.76 0.01 0.97 0.   0.02 0.01 0.01 0.   0.4  0.58
 0.01 0.   0.41 0.07 0.01 0.25 0.03 0.75 0.82 0.7  0.   0.61 0.64 0.07
 0.87 0.11 0.08 0.14 0.99 0.02 0.56 0.39 0.42 0.15 0.05 0.04 0.09 0.82
 0.12 0.   0.03 0.01 0.23 0.07 0.06 0.24 0.01 0.16 0.45 0.   0.04 0.32
 0.48 0.13 0.22 0.22 0.38 0.21 0.08 0.19 0.04 0.03 0.01 0.13 0.23 0.04
 0.   0.54 0.13 0.85 0.81 0.38 0.96 0.36 0.29 0.38 0.11 0.03 0.   0.5
 0.01 0.11 0.11 0.03 0.65 0.01 0.35 0.02 0.78 0.13 0.1  0.03 0.07 0.02
 0.04 0.3  0.05 0.34 0.4  0.17 0.1  0.04 0.19 0.14 0.04 0.13 0.15 0.67
 0.35 0.04 0.   0.01 0.24 0.28 0.14 0.24 0.1  0.01 0.03 0.01 0.11 0.14
 0.03 0.13 0.19 0.08 0.4  0.02 0.1  0.45 0.24 0.18 0.45 0.5  0.12 0.9
 0.12 0.12 0.17 0.12 0.18 0.02 0.69 0.02 0.02 0.11 0.4  0.03 0.03 0.01
 0.07 0.17 0.07 0.03 0.17 0.3  0.16 0.14 0.11 0.25 0.33 0.74 0.11 0.91
 0.   0.22 0.01 0.   0.05 0.07 0.01 0.02 0.38 0.05 0.77 0.27 0.03 0.81
 0.15 0.07 0.08 0.37]

In [9]:
print(f"Ratio:{sum(binary_predictions)/len(binary_predictions)}")

Ratio:0.1638418079096045

In [10]:
with open("submission.csv", "w") as file:
    file.write('Id,Predicted\n')
    for i, pred in zip(ids, predictions[:,1]):
        file.write(f"{i},{pred}\n")